.answer-button {
  margin-top: 0px;
}

.answer-buttons {
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.card {
 border-style: none; 
}

.container {
  font-size: 105%;
  margin-bottom: 100px;
  max-width: 900px;
  padding-top: 15px;
}

.explanation {
  margin-left: 15px;
  margin-right: 15px;
}

.showable {
  display: none;
}

.token:hover {
  background-color: #FF6961;
  color: white;
}

.unit {
  background-color: #00B7D9;
  border-radius: 15px 50px;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
  width: auto;
}

.unit:hover {
  background-color: #009EC0;
}

a.unit-link:link a.unit-link:visited a.unit-link:hover a.unit-link:active  {
  text-decoration: none;
}
