body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.container {
  font-size: 105%;
  margin-bottom: 100px;
  max-width: 900px;
  padding-top: 15px;
}

.token:hover {
  background-color: #FF6961;
  color: white;
}

.unit {
  background-color: #00B7D9;
  color: white;
  width: 100%;
}

.unit:hover {
  background-color: #009EC0;
}
